.containerLixoEletronico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.containerLixoEletronicoTexto{
    width: 60%;
    font-size: 30px;
}

.containerLixoEletronicoTextoTitulo {
    font-weight: bold;
    font-size: 50px;
}


.gridImageContainer {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    align-items: start; /* Align items at the start of the grid row */
    width: 60%;
    gap: 10px;
    margin-bottom: 4% ;
}

.GridImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
}