.containerTiVerde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.containerTiVerde span {
    color: green;
}
.containerTiVerdeTexto{
    width: 60%;
    font-size: 30px;

}

.containerTiVerdeTitulo {
    font-weight: bold;
    font-size: 50px;
}

.containerTiVerdeTitulo02 {
    font-weight: bold;
    font-size: 50px;
    width:60% ;
}


.iframe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 60%;
  }
  
  .iframe-grid iframe {
    width: 70vh;
    height: 40vh;
  }